:root {
  --primary-collor: #fff;
  --secondary-color: #000;
  --card-background: #f0eded;
  --border-radius: 5px;
  --background-button-carrousel: #1c81d3;
}
body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:var(--primary-collor);
    color:var(--secondary-color);
}

/*Hero Section Styles*/
 .carousel {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          height: 400px;  
          background-size: cover;  
          background-position: center; 
          transition: background-image 0.5s ease; 
        }

        .overlay {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          justify-content: center;
        }

        button {
          background-color: rgba(0, 0, 0, 0.5);
          color: white;
          border: none;
          border-radius: 5px;
          padding: 10px 15px;
          margin: 0 10px; 
          cursor: pointer;
          transition: background-color 0.3s; 
        }

        button:hover {
          background-color: rgba(0, 0, 0, 0.8);
        }
.hero-section {
            width: 100%;
            height: 600px;
            margin-bottom: 20px;
        }
/*NavBar Styles*/
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 3%;
  background-color: var(--primary-collor);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: flex;
  gap: 70px;
}
.nav-links a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.5rem;
}
/*Maps section*/
.map-container {
  width: 100%;
  height: 600px;
  background-image: url("../src/assets/map.png");
  background-size: cover;
  background-repeat: no-repeat;
}

