:root {
  --primary-collor: #fff;
  --secondary-color: #000;
  --card-background: #f0eded;
  --border-radius: 5px;
  --background-button-carrousel: #1c81d3;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: var(--primary-collor);
  color: var(--secondary-color);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 3%;
  background-color: var(--primary-collor);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: flex;
  gap: 70px;
}
.nav-links a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.5rem;
}
